DATABASE_URL="postgresql://postgres:sua_senha@localhost:5432/mercadinho_db"
JWT_SECRET="sua_chave_secreta_muito_forte_aqui_min_32_chars"
JWT_EXPIRES_IN="8h"
PORT=3001
NODE_ENV=development
BACKUP_DIR="../backups"
